html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* background: lightblue url("./img/bomb.png") no-repeat fixed center; */
}


#field {
	border: 1px solid black;
	display: inline-block;
	padding: 0px;
	margin-bottom: 0px;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 802px
}

.info-window {
	height: 70px;
	border: 1px solid black;
	border-bottom: 0px;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 31px;
}

#bombs-counter {
	font-size: 31px;
}

#happy-face {
  height: 70px;
}

input {
	outline: none;
}

.col {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: grey;
	border: 0.5px solid black;
}

.col:hover {
	background-color: #fff;
}

.col-clicked {
	background-color: #fff;
}

.row {
	display: flex;
	flex-direction: row;
	font-size: 0px;
	border-bottom: 0px;
}

.bomb {    
	/*background-color: red;*/
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 0.5px solid black;
	cursor: pointer;
}

/* .bomb-reveal {
	background-
} */

.bomb:hover {
	cursor: pointer;
	background-color: #fff;
}

.bombs-near {
	width: 97%;
	height: 97%;
	background-color: #fff;
	font-style: oblique;
	color: #000;
	font-family: Helvetica;
	font-size: 18px;
	margin: 0px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#flag-container {
	width: 98%;
	height: 98%;
	background-color: #37e860;
	margin: 0px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#bomb-container {
	width: 98%;
	height: 98%;
	background-color:#bc5127;
	margin: 0px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*.blank {
	background-color: #fff;
}*/

.flag-img {
	width: 30px;
	height: 30px;
}



